<a href="https://colab.research.google.com/github/ChristinaAndrius/SeleniumProject/blob/Pandas/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

#Sukurkite vektorių su skaičiais nuo 1 iki 10

np.arange(1,11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
#vektorius is 10 nuliu

np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [ ]:
 #vektorius is 10 vienetu

 np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [ ]:
#vektorius is 10 ketvertu
np.ones(10)*4

array([4., 4., 4., 4., 4., 4., 4., 4., 4., 4.])

In [ ]:
#vektorius is lyginiu skaiciu nuo nuliu iki 10

np.arange(0,101,2)

array([  0,   2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,
        26,  28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,
        52,  54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,
        78,  80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100])

In [ ]:
#matrica is 25 nariu nuo 1 iki 26, priskirta kintamajam
arr=np.arange(1,26).reshape(5,5)
print(arr)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

In [ ]:
#is matricos istraukti skaiciui 12 ir paskutine eilute row, column index!
arr[2,1]

12

In [ ]:
#last row from matrix
arr[-1]

array([21, 22, 23, 24, 25])

In [ ]:
#submatrix from created matrix
arr[:3,:3]

array([[ 1,  2,  3],
       [ 6,  7,  8],
       [11, 12, 13]])

In [ ]:
arr[1:4,1:]

array([[ 7,  8,  9, 10],
       [12, 13, 14, 15],
       [17, 18, 19, 20]])

In [ ]:
#array from 20 random variables
randarr=np.random.rand(20)

In [ ]:
#maximum and minimum values and their index numbers
max(randarr)
randarr.argmax()
randarr.min()
randarr.argmin()

2

In [ ]:
#data type
randarr.dtype

dtype('float64')

In [ ]:
#integer array,  select higher than 90 to the list
l=np.arange(1, 101)
l=l[l>90]

In [ ]:
#divides by 7 without liekana
l=l[l%7==0]

In [ ]:
#matrica
np.linspace(0.025,1,40).reshape(5,8)

array([[0.025, 0.05 , 0.075, 0.1  , 0.125, 0.15 , 0.175, 0.2  ],
       [0.225, 0.25 , 0.275, 0.3  , 0.325, 0.35 , 0.375, 0.4  ],
       [0.425, 0.45 , 0.475, 0.5  , 0.525, 0.55 , 0.575, 0.6  ],
       [0.625, 0.65 , 0.675, 0.7  , 0.725, 0.75 , 0.775, 0.8  ],
       [0.825, 0.85 , 0.875, 0.9  , 0.925, 0.95 , 0.975, 1.   ]])

In [ ]:
#matrica nup 1 iki 100, traukiasi sveika saknis
matrica=np.arange(2, 1000)
res=matrica[(matrica**5)%1==0]

In [ ]:
res.shape

(998,)

In [ ]:
#Parašykite NumPy programą, kad sukurtumėte 3x3 tapatybės matricą, t. y. įstrižainės yra 1, o likusieji yra 0.

d=np.identity(3)
print(d)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [ ]:
#Parašykite NumPy programą, kad sukurtumėte naują nurodytos formos (5,6) ir tipo masyvą, užpildytą nuliais.

s = (5,6)
b=np.zeros(s)
print(b)

[[0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]]

In [ ]:
#Write a NumPy program to create a 4x4 array, now create a new array from the said array swapping first and last, second and third columns.

c=np.arange(10, 26).reshape(4,4)

print(c)

[[10 11 12 13]
 [14 15 16 17]
 [18 19 20 21]
 [22 23 24 25]]

In [ ]:
from typing_extensions import Concatenate
#W swapping first and last, second and third columns.
d=c[:, [3,0]]

e=c[:,[2,1]]

new_array=np.concatenate((d,e),axis=1)
print(new_array)

[[13 10 12 11]
 [17 14 16 15]
 [21 18 20 19]
 [25 22 24 23]]

In [ ]:
#Parašykite NumPy programą, kad konvertuotumėte Celsijaus laipsnių reikšmes į Farenheito laipsnius ir atvirkščiai. Reikšmės saugomos NumPy masyve.
celsius_list = [-17.78, -11.11, 7.34, 1.11 ,37.73, 0. ]
C = np.array(celsius_list)
print("Values in Celsius:")
print(C)
print("Values in  Fahrenheit:")
print(np.round((9*C/5 + 32),2))

Values in Celsius:
[-17.78 -11.11   7.34   1.11  37.73   0.  ]
Values in  Fahrenheit:
[-0.   12.   45.21 34.   99.91 32.  ]

In [ ]:
# from Fahrenheit to Celsius

fahrenheit_list = [ 0, 12, 45.21, 34, 99.91, 32 ]
F = np.array(fahrenheit_list)
print("Values in Fahrenheit:")
print(F)
print("Values in  Celsius:")
print(np.round((5*F/9 - 5*32/9),2))

Values in Fahrenheit:
[ 0.   12.   45.21 34.   99.91 32.  ]
Values in  Celsius:
[-17.78 -11.11   7.34   1.11  37.73   0.  ]

In [ ]:
#Parašykite NumPy programą, kad būtų rodomos visos 2017 m. kovo mėnesio datos.

np.arange('2017-03-01', '2017-04-01',  dtype='datetime64[D]')

array(['2017-03-01', '2017-03-02', '2017-03-03', '2017-03-04',
       '2017-03-05', '2017-03-06', '2017-03-07', '2017-03-08',
       '2017-03-09', '2017-03-10', '2017-03-11', '2017-03-12',
       '2017-03-13', '2017-03-14', '2017-03-15', '2017-03-16',
       '2017-03-17', '2017-03-18', '2017-03-19', '2017-03-20',
       '2017-03-21', '2017-03-22', '2017-03-23', '2017-03-24',
       '2017-03-25', '2017-03-26', '2017-03-27', '2017-03-28',
       '2017-03-29', '2017-03-30', '2017-03-31'], dtype='datetime64[D]')