<a href="https://colab.research.google.com/github/ChristinaAndrius/SeleniumProject/blob/Pandas/uzd_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
top_left=pd.read_excel('top1-25-1.xlsx')
print (top_left1)

                                       Track.Name    Artist.Name  \
0                                        Senorita   Shawn Mendes
1                                           China       Anuel AA
2                   boyfriend (with Social House)  Ariana Grande
3                 Beautiful People (feat. Khalid)     Ed Sheeran
4                     Goodbyes (Feat. Young Thug)    Post Malone
5               I Don't Care (with Justin Bieber)     Ed Sheeran
6                                          Ransom      Lil Tecca
7                               How Do You Sleep?      Sam Smith
8                           Old Town Road - Remix      Lil Nas X
9                                         bad guy  Billie Eilish
10                                       Callaita      Bad Bunny
11          Loco Contigo (feat. J. Balvin & Tyga)       DJ Snake
12                              Someone You Loved  Lewis Capaldi
13                             Otro Trago - Remix           Sech
14       Money In The Grave (Drake ft. Rick Ross)          Drake
15                      No Guidance (feat. Drake)    Chris Brown
16                                     LA CANCION       J Balvin
17  Sunflower - Spider-Man: Into the Spider-Verse    Post Malone
18                                         Lalala            Y2K
19                                    Truth Hurts          Lizzo
20                            Piece Of Your Heart         MEDUZA
21                                         Panini      Lil Nas X
22                           No Me Conoce - Remix    Jhay Cortez
23                                Soltera - Remix          Lunay
24                   bad guy (with Justin Bieber)  Billie Eilish

               Genre  Popularity
0       canadian pop        79.0
1     reggaeton flow        92.0
2          dance pop        85.0
3                pop         NaN
4            dfw rap        94.0
5                pop        84.0
6         trap music        92.0
7                pop        90.0
8        country rap        87.0
9         electropop        95.0
10         reggaeton        93.0
11         dance pop        86.0
12               pop        88.0
13    panamanian pop        87.0
14  canadian hip hop        92.0
15         dance pop        82.0
16             latin        90.0
17           dfw rap        91.0
18               NaN        88.0
19       escape room        91.0
20         pop house        91.0
21       country rap        91.0
22    reggaeton flow        83.0
23             latin        91.0
24        electropop         NaN

In [ ]:
top_right=pd.read_excel('top1-25-2.xlsx')
print (top_right)

                                       Track.Name  Beats.Per.Minute  Energy  \
0                                        Senorita               117      55
1                                           China               105      81
2                   boyfriend (with Social House)               190      80
3                 Beautiful People (feat. Khalid)                93      65
4                     Goodbyes (Feat. Young Thug)               150      65
5               I Don't Care (with Justin Bieber)               102      68
6                                          Ransom               180      64
7                               How Do You Sleep?               111      68
8                           Old Town Road - Remix               136      62
9                                         bad guy               135      43
10                                       Callaita               176      62
11          Loco Contigo (feat. J. Balvin & Tyga)                96      71
12                              Someone You Loved               110      41
13                             Otro Trago - Remix               176      79
14       Money In The Grave (Drake ft. Rick Ross)               101      50
15                      No Guidance (feat. Drake)                93      45
16                                     LA CANCION               176      65
17  Sunflower - Spider-Man: Into the Spider-Verse                90      48
18                                         Lalala               130      39
19                                    Truth Hurts               158      62
20                            Piece Of Your Heart               124      74
21                                         Panini               154      59
22                           No Me Conoce - Remix                92      79
23                                Soltera - Remix                92      78
24                   bad guy (with Justin Bieber)               135      45

    Danceability  Loudness..dB..  Liveness  Valence.  Length.  Acousticness..  \
0             76              -6         8        75      191               4
1             79              -4         8        61      302               8
2             40              -4        16        70      186              12
3             64              -8         8        55      198              12
4             58              -4        11        18      175              45
5             80              -5         9        84      220               9
6             75              -6         7        23      131               2
7             48              -5         8        35      202              15
8             88              -6        11        64      157               5
9             70             -11        10        56      194              33
10            61              -5        24        24      251              60
11            82              -4        15        38      185              28
12            50              -6        11        45      182              75
13            73              -2         6        76      288               7
14            83              -4        12        10      205              10
15            70              -7        16        14      261              12
16            75              -6        11        43      243              15
17            76              -6         7        91      158              56
18            84              -8        14        50      161              18
19            72              -3        12        41      173              11
20            68              -7         7        63      153               4
21            70              -6        12        48      115              34
22            81              -4         9        58      309              14
23            80              -4        44        80      266              36
24            67             -11        12        68      195              25

    Speechiness.  Popularity
0              3        79.0
1              9        92.0
2             46        85.0
3             19         NaN
4              7        94.0
5              4        84.0
6             29        92.0
7              9        90.0
8             10        87.0
9             38        95.0
10            31        93.0
11             7        86.0
12             3        88.0
13            20        87.0
14             5        92.0
15            15        82.0
16            32        90.0
17             5        91.0
18             8        88.0
19            11        91.0
20             3        91.0
21             8        91.0
22             7        83.0
23             4        91.0
24            30         NaN

In [ ]:
bottom_left=pd.read_excel('top26-50-1.xlsx')
print(bottom_left)

                                           Track.Name       Artist.Name  \
0                                 If I Can't Have You      Shawn Mendes
1                                        Dance Monkey       Tones and I
2                                            It's You         Ali Gatie
3                                           Con Calma      Daddy Yankee
4                                       QUE PRETENDES          J Balvin
5                                            Takeaway  The Chainsmokers
6                                             7 rings     Ariana Grande
7                                            0.958333            Maluma
8           The London (feat. J. Cole & Travis Scott)        Young Thug
9                                   Never Really Over        Katy Perry
10  Summer Days (feat. Macklemore & Patrick Stump ...     Martin Garrix
11                                         Otro Trago              Sech
12                     Antisocial (with Travis Scott)        Ed Sheeran
13                                             Sucker    Jonas Brothers
14  fuck, i'm lonely (with Anne-Marie) - from 13 R...              Lauv
15                                        Higher Love              Kygo
16                              You Need To Calm Down      Taylor Swift
17                                            Shallow         Lady Gaga
18                                               Talk            Khalid
19                                         Con Altura           ROSALNA
20                                    One Thing Right        Marshmello
21                                           Te Robar         Nicky Jam
22                                            Happier        Marshmello
23                                      Call You Mine  The Chainsmokers
24      Cross Me (feat. Chance the Rapper & PnB Rock)        Ed Sheeran

               Genre
0       canadian pop
1     australian pop
2   canadian hip hop
3              latin
4              latin
5                edm
6          dance pop
7          reggaeton
8        atl hip hop
9          dance pop
10          big room
11    panamanian pop
12               pop
13          boy band
14         dance pop
15               edm
16         dance pop
17         dance pop
18               pop
19    r&b en espanol
20           brostep
21             latin
22           brostep
23               edm
24               NaN

In [ ]:
bottom_right=pd.read_excel('top26-50-2.xlsx')
print(bottom_right)

    Beats.Per.Minute  Energy  Danceability  Loudness..dB..  Liveness  \
0                124      82            69              -4        13
1                 98      59            82              -6        18
2                 96      46            73              -7        19
3                 94      86            74              -3         6
4                 93      79            64              -4        36
5                 85      51            29              -8        10
6                140      32            78             -11         9
7                 96      71            78              -5         9
8                 98      59            80              -7        13
9                100      88            77              -5        32
10               114      72            66              -7        14
11               176      70            75              -5        11
12               152      82            72              -5        36
13               138      73            84              -5        11
14                95      56            81              -6         6
15               104      68            69              -7        10
16                85      68            77              -6         7
17                96      39            57              -6        23
18               136      40            90              -9         6
19                98      69            88              -4         5
20                88      62            66              -2        58
21               176      75            67              -4         8
22               100      79            69              -3        17
23               104      70            59              -6        41
24                95      79            75              -6         7

    Valence.  Length.  Acousticness..  Speechiness.  Popularity
0         87      191              49             6        70.0
1         54      210              69            10        83.0
2         40      213              37             3        89.0
3         66      193              11             6        91.0
4         94      222               3            25        89.0
5         36      210              12             4        84.0
6         33      179              59            33        89.0
7         68      176              22            28        89.0
8         18      200               2            15        89.0
9         39      224              19             6        89.0
10        32      164              18             6        89.0
11        62      226              14            34        91.0
12        91      162              13             5        87.0
13        95      181               4             6        80.0
14        68      199              48             7        78.0
15        40      228               2             3        88.0
16        73      171               1             5        90.0
17        32      216              37             3        87.0
18        35      198               5            13        84.0
19        75      162              39            12        88.0
20        44      182               7             5        88.0
21        80      202              24             6        88.0
22        67      214              19             5         NaN
23        50      218              23             3        88.0
24        61      206              21            12        82.0

In [ ]:
sujungta_apacia = pd.concat(([bottom_right, bottom_left])).drop_duplicates(subset=None, keep=False, inplace=False, ignore_index=False)
print(sujungta_apacia)

    Beats.Per.Minute  Energy  Danceability  Loudness..dB..  Liveness  \
0              124.0    82.0          69.0            -4.0      13.0
1               98.0    59.0          82.0            -6.0      18.0
2               96.0    46.0          73.0            -7.0      19.0
3               94.0    86.0          74.0            -3.0       6.0
4               93.0    79.0          64.0            -4.0      36.0
5               85.0    51.0          29.0            -8.0      10.0
6              140.0    32.0          78.0           -11.0       9.0
7               96.0    71.0          78.0            -5.0       9.0
8               98.0    59.0          80.0            -7.0      13.0
9              100.0    88.0          77.0            -5.0      32.0
10             114.0    72.0          66.0            -7.0      14.0
11             176.0    70.0          75.0            -5.0      11.0
12             152.0    82.0          72.0            -5.0      36.0
13             138.0    73.0          84.0            -5.0      11.0
14              95.0    56.0          81.0            -6.0       6.0
15             104.0    68.0          69.0            -7.0      10.0
16              85.0    68.0          77.0            -6.0       7.0
17              96.0    39.0          57.0            -6.0      23.0
18             136.0    40.0          90.0            -9.0       6.0
19              98.0    69.0          88.0            -4.0       5.0
20              88.0    62.0          66.0            -2.0      58.0
21             176.0    75.0          67.0            -4.0       8.0
22             100.0    79.0          69.0            -3.0      17.0
23             104.0    70.0          59.0            -6.0      41.0
24              95.0    79.0          75.0            -6.0       7.0
0                NaN     NaN           NaN             NaN       NaN
1                NaN     NaN           NaN             NaN       NaN
2                NaN     NaN           NaN             NaN       NaN
3                NaN     NaN           NaN             NaN       NaN
4                NaN     NaN           NaN             NaN       NaN
5                NaN     NaN           NaN             NaN       NaN
6                NaN     NaN           NaN             NaN       NaN
7                NaN     NaN           NaN             NaN       NaN
8                NaN     NaN           NaN             NaN       NaN
9                NaN     NaN           NaN             NaN       NaN
10               NaN     NaN           NaN             NaN       NaN
11               NaN     NaN           NaN             NaN       NaN
12               NaN     NaN           NaN             NaN       NaN
13               NaN     NaN           NaN             NaN       NaN
14               NaN     NaN           NaN             NaN       NaN
15               NaN     NaN           NaN             NaN       NaN
16               NaN     NaN           NaN             NaN       NaN
17               NaN     NaN           NaN             NaN       NaN
18               NaN     NaN           NaN             NaN       NaN
19               NaN     NaN           NaN             NaN       NaN
20               NaN     NaN           NaN             NaN       NaN
21               NaN     NaN           NaN             NaN       NaN
22               NaN     NaN           NaN             NaN       NaN
23               NaN     NaN           NaN             NaN       NaN
24               NaN     NaN           NaN             NaN       NaN

    Valence.  Length.  Acousticness..  Speechiness.  Popularity  \
0       87.0    191.0            49.0           6.0        70.0
1       54.0    210.0            69.0          10.0        83.0
2       40.0    213.0            37.0           3.0        89.0
3       66.0    193.0            11.0           6.0        91.0
4       94.0    222.0             3.0          25.0        89.0
5       36.0    210.0            12.0           4.0        84.0
6       33.0    179.0            59.0          33.0        89.0
7       68.0    176.0            22.0          28.0        89.0
8       18.0    200.0             2.0          15.0        89.0
9       39.0    224.0            19.0           6.0        89.0
10      32.0    164.0            18.0           6.0        89.0
11      62.0    226.0            14.0          34.0        91.0
12      91.0    162.0            13.0           5.0        87.0
13      95.0    181.0             4.0           6.0        80.0
14      68.0    199.0            48.0           7.0        78.0
15      40.0    228.0             2.0           3.0        88.0
16      73.0    171.0             1.0           5.0        90.0
17      32.0    216.0            37.0           3.0        87.0
18      35.0    198.0             5.0          13.0        84.0
19      75.0    162.0            39.0          12.0        88.0
20      44.0    182.0             7.0           5.0        88.0
21      80.0    202.0            24.0           6.0        88.0
22      67.0    214.0            19.0           5.0         NaN
23      50.0    218.0            23.0           3.0        88.0
24      61.0    206.0            21.0          12.0        82.0
0        NaN      NaN             NaN           NaN         NaN
1        NaN      NaN             NaN           NaN         NaN
2        NaN      NaN             NaN           NaN         NaN
3        NaN      NaN             NaN           NaN         NaN
4        NaN      NaN             NaN           NaN         NaN
5        NaN      NaN             NaN           NaN         NaN
6        NaN      NaN             NaN           NaN         NaN
7        NaN      NaN             NaN           NaN         NaN
8        NaN      NaN             NaN           NaN         NaN
9        NaN      NaN             NaN           NaN         NaN
10       NaN      NaN             NaN           NaN         NaN
11       NaN      NaN             NaN           NaN         NaN
12       NaN      NaN             NaN           NaN         NaN
13       NaN      NaN             NaN           NaN         NaN
14       NaN      NaN             NaN           NaN         NaN
15       NaN      NaN             NaN           NaN         NaN
16       NaN      NaN             NaN           NaN         NaN
17       NaN      NaN             NaN           NaN         NaN
18       NaN      NaN             NaN           NaN         NaN
19       NaN      NaN             NaN           NaN         NaN
20       NaN      NaN             NaN           NaN         NaN
21       NaN      NaN             NaN           NaN         NaN
22       NaN      NaN             NaN           NaN         NaN
23       NaN      NaN             NaN           NaN         NaN
24       NaN      NaN             NaN           NaN         NaN

                                           Track.Name       Artist.Name  \
0                                                 NaN               NaN
1                                                 NaN               NaN
2                                                 NaN               NaN
3                                                 NaN               NaN
4                                                 NaN               NaN
5                                                 NaN               NaN
6                                                 NaN               NaN
7                                                 NaN               NaN
8                                                 NaN               NaN
9                                                 NaN               NaN
10                                                NaN               NaN
11                                                NaN               NaN
12                                                NaN               NaN
13                                                NaN               NaN
14                                                NaN               NaN
15                                                NaN               NaN
16                                                NaN               NaN
17                                                NaN               NaN
18                                                NaN               NaN
19                                                NaN               NaN
20                                                NaN               NaN
21                                                NaN               NaN
22                                                NaN               NaN
23                                                NaN               NaN
24                                                NaN               NaN
0                                 If I Can't Have You      Shawn Mendes
1                                        Dance Monkey       Tones and I
2                                            It's You         Ali Gatie
3                                           Con Calma      Daddy Yankee
4                                       QUE PRETENDES          J Balvin
5                                            Takeaway  The Chainsmokers
6                                             7 rings     Ariana Grande
7                                            0.958333            Maluma
8           The London (feat. J. Cole & Travis Scott)        Young Thug
9                                   Never Really Over        Katy Perry
10  Summer Days (feat. Macklemore & Patrick Stump ...     Martin Garrix
11                                         Otro Trago              Sech
12                     Antisocial (with Travis Scott)        Ed Sheeran
13                                             Sucker    Jonas Brothers
14  fuck, i'm lonely (with Anne-Marie) - from 13 R...              Lauv
15                                        Higher Love              Kygo
16                              You Need To Calm Down      Taylor Swift
17                                            Shallow         Lady Gaga
18                                               Talk            Khalid
19                                         Con Altura           ROSALNA
20                                    One Thing Right        Marshmello
21                                           Te Robar         Nicky Jam
22                                            Happier        Marshmello
23                                      Call You Mine  The Chainsmokers
24      Cross Me (feat. Chance the Rapper & PnB Rock)        Ed Sheeran

               Genre
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
5                NaN
6                NaN
7                NaN
8                NaN
9                NaN
10               NaN
11               NaN
12               NaN
13               NaN
14               NaN
15               NaN
16               NaN
17               NaN
18               NaN
19               NaN
20               NaN
21               NaN
22               NaN
23               NaN
24               NaN
0       canadian pop
1     australian pop
2   canadian hip hop
3              latin
4              latin
5                edm
6          dance pop
7          reggaeton
8        atl hip hop
9          dance pop
10          big room
11    panamanian pop
12               pop
13          boy band
14         dance pop
15               edm
16         dance pop
17         dance pop
18               pop
19    r&b en espanol
20           brostep
21             latin
22           brostep
23               edm
24               NaN

In [ ]:
top_right=pd.read_excel('top1-25-2.xlsx')
top_left=pd.read_excel('top1-25-1.xlsx')
bottom_right=pd.read_excel('top26-50-2.xlsx')
bottom_left=pd.read_excel('top26-50-1.xlsx')

sujungta_apacia_2 = pd.concat(([bottom_right, bottom_left]), axis=1)
sujungtas_virsus_pagal_column_name = pd.merge(top_right,top_left,on=['Track.Name','Popularity'])
viskas_sujungta = pd.concat([sujungtas_virsus_pagal_column_name,sujungta_apacia_2])
print(viskas_sujungta)

                                           Track.Name  Beats.Per.Minute  \
0                                            Senorita               117
1                                               China               105
2                       boyfriend (with Social House)               190
3                     Beautiful People (feat. Khalid)                93
4                         Goodbyes (Feat. Young Thug)               150
5                   I Don't Care (with Justin Bieber)               102
6                                              Ransom               180
7                                   How Do You Sleep?               111
8                               Old Town Road - Remix               136
9                                             bad guy               135
10                                           Callaita               176
11              Loco Contigo (feat. J. Balvin & Tyga)                96
12                                  Someone You Loved               110
13                                 Otro Trago - Remix               176
14           Money In The Grave (Drake ft. Rick Ross)               101
15                          No Guidance (feat. Drake)                93
16                                         LA CANCION               176
17      Sunflower - Spider-Man: Into the Spider-Verse                90
18                                             Lalala               130
19                                        Truth Hurts               158
20                                Piece Of Your Heart               124
21                                             Panini               154
22                               No Me Conoce - Remix                92
23                                    Soltera - Remix                92
24                       bad guy (with Justin Bieber)               135
0                                 If I Can't Have You               124
1                                        Dance Monkey                98
2                                            It's You                96
3                                           Con Calma                94
4                                       QUE PRETENDES                93
5                                            Takeaway                85
6                                             7 rings               140
7                                            0.958333                96
8           The London (feat. J. Cole & Travis Scott)                98
9                                   Never Really Over               100
10  Summer Days (feat. Macklemore & Patrick Stump ...               114
11                                         Otro Trago               176
12                     Antisocial (with Travis Scott)               152
13                                             Sucker               138
14  fuck, i'm lonely (with Anne-Marie) - from 13 R...                95
15                                        Higher Love               104
16                              You Need To Calm Down                85
17                                            Shallow                96
18                                               Talk               136
19                                         Con Altura                98
20                                    One Thing Right                88
21                                           Te Robar               176
22                                            Happier               100
23                                      Call You Mine               104
24      Cross Me (feat. Chance the Rapper & PnB Rock)                95

    Energy  Danceability  Loudness..dB..  Liveness  Valence.  Length.  \
0       55            76              -6         8        75      191
1       81            79              -4         8        61      302
2       80            40              -4        16        70      186
3       65            64              -8         8        55      198
4       65            58              -4        11        18      175
5       68            80              -5         9        84      220
6       64            75              -6         7        23      131
7       68            48              -5         8        35      202
8       62            88              -6        11        64      157
9       43            70             -11        10        56      194
10      62            61              -5        24        24      251
11      71            82              -4        15        38      185
12      41            50              -6        11        45      182
13      79            73              -2         6        76      288
14      50            83              -4        12        10      205
15      45            70              -7        16        14      261
16      65            75              -6        11        43      243
17      48            76              -6         7        91      158
18      39            84              -8        14        50      161
19      62            72              -3        12        41      173
20      74            68              -7         7        63      153
21      59            70              -6        12        48      115
22      79            81              -4         9        58      309
23      78            80              -4        44        80      266
24      45            67             -11        12        68      195
0       82            69              -4        13        87      191
1       59            82              -6        18        54      210
2       46            73              -7        19        40      213
3       86            74              -3         6        66      193
4       79            64              -4        36        94      222
5       51            29              -8        10        36      210
6       32            78             -11         9        33      179
7       71            78              -5         9        68      176
8       59            80              -7        13        18      200
9       88            77              -5        32        39      224
10      72            66              -7        14        32      164
11      70            75              -5        11        62      226
12      82            72              -5        36        91      162
13      73            84              -5        11        95      181
14      56            81              -6         6        68      199
15      68            69              -7        10        40      228
16      68            77              -6         7        73      171
17      39            57              -6        23        32      216
18      40            90              -9         6        35      198
19      69            88              -4         5        75      162
20      62            66              -2        58        44      182
21      75            67              -4         8        80      202
22      79            69              -3        17        67      214
23      70            59              -6        41        50      218
24      79            75              -6         7        61      206

    Acousticness..  Speechiness.  Popularity       Artist.Name  \
0                4             3        79.0      Shawn Mendes
1                8             9        92.0          Anuel AA
2               12            46        85.0     Ariana Grande
3               12            19         NaN        Ed Sheeran
4               45             7        94.0       Post Malone
5                9             4        84.0        Ed Sheeran
6                2            29        92.0         Lil Tecca
7               15             9        90.0         Sam Smith
8                5            10        87.0         Lil Nas X
9               33            38        95.0     Billie Eilish
10              60            31        93.0         Bad Bunny
11              28             7        86.0          DJ Snake
12              75             3        88.0     Lewis Capaldi
13               7            20        87.0              Sech
14              10             5        92.0             Drake
15              12            15        82.0       Chris Brown
16              15            32        90.0          J Balvin
17              56             5        91.0       Post Malone
18              18             8        88.0               Y2K
19              11            11        91.0             Lizzo
20               4             3        91.0            MEDUZA
21              34             8        91.0         Lil Nas X
22              14             7        83.0       Jhay Cortez
23              36             4        91.0             Lunay
24              25            30         NaN     Billie Eilish
0               49             6        70.0      Shawn Mendes
1               69            10        83.0       Tones and I
2               37             3        89.0         Ali Gatie
3               11             6        91.0      Daddy Yankee
4                3            25        89.0          J Balvin
5               12             4        84.0  The Chainsmokers
6               59            33        89.0     Ariana Grande
7               22            28        89.0            Maluma
8                2            15        89.0        Young Thug
9               19             6        89.0        Katy Perry
10              18             6        89.0     Martin Garrix
11              14            34        91.0              Sech
12              13             5        87.0        Ed Sheeran
13               4             6        80.0    Jonas Brothers
14              48             7        78.0              Lauv
15               2             3        88.0              Kygo
16               1             5        90.0      Taylor Swift
17              37             3        87.0         Lady Gaga
18               5            13        84.0            Khalid
19              39            12        88.0           ROSALNA
20               7             5        88.0        Marshmello
21              24             6        88.0         Nicky Jam
22              19             5         NaN        Marshmello
23              23             3        88.0  The Chainsmokers
24              21            12        82.0        Ed Sheeran

               Genre
0       canadian pop
1     reggaeton flow
2          dance pop
3                pop
4            dfw rap
5                pop
6         trap music
7                pop
8        country rap
9         electropop
10         reggaeton
11         dance pop
12               pop
13    panamanian pop
14  canadian hip hop
15         dance pop
16             latin
17           dfw rap
18               NaN
19       escape room
20         pop house
21       country rap
22    reggaeton flow
23             latin
24        electropop
0       canadian pop
1     australian pop
2   canadian hip hop
3              latin
4              latin
5                edm
6          dance pop
7          reggaeton
8        atl hip hop
9          dance pop
10          big room
11    panamanian pop
12               pop
13          boy band
14         dance pop
15               edm
16         dance pop
17         dance pop
18               pop
19    r&b en espanol
20           brostep
21             latin
22           brostep
23               edm
24               NaN

In [ ]:
import numpy as np
index=pd.merge(sujungtas_virsus_pagal_column_name, sujungta_apacia_2)
index.reset_index()
index.index=np.arange(1,len(index)+1)
print(index.index)

Int64Index([], dtype='int64')

In [ ]:
7 uzduotis

data[data['Genre'].isnull() | data['Popularity'].isnull()]

NameError: ignored

In [ ]:
import pandas as pd
top_left=pd.read_excel('top1-25-1.xlsx')
top_left.head(3)
print(top_left)
#print as many cells from the top of data or bottom
print(top_left.head(3))
print(top_left.tail(3))

                                       Track.Name    Artist.Name  \
0                                        Senorita   Shawn Mendes
1                                           China       Anuel AA
2                   boyfriend (with Social House)  Ariana Grande
3                 Beautiful People (feat. Khalid)     Ed Sheeran
4                     Goodbyes (Feat. Young Thug)    Post Malone
5               I Don't Care (with Justin Bieber)     Ed Sheeran
6                                          Ransom      Lil Tecca
7                               How Do You Sleep?      Sam Smith
8                           Old Town Road - Remix      Lil Nas X
9                                         bad guy  Billie Eilish
10                                       Callaita      Bad Bunny
11          Loco Contigo (feat. J. Balvin & Tyga)       DJ Snake
12                              Someone You Loved  Lewis Capaldi
13                             Otro Trago - Remix           Sech
14       Money In The Grave (Drake ft. Rick Ross)          Drake
15                      No Guidance (feat. Drake)    Chris Brown
16                                     LA CANCION       J Balvin
17  Sunflower - Spider-Man: Into the Spider-Verse    Post Malone
18                                         Lalala            Y2K
19                                    Truth Hurts          Lizzo
20                            Piece Of Your Heart         MEDUZA
21                                         Panini      Lil Nas X
22                           No Me Conoce - Remix    Jhay Cortez
23                                Soltera - Remix          Lunay
24                   bad guy (with Justin Bieber)  Billie Eilish

               Genre  Popularity
0       canadian pop        79.0
1     reggaeton flow        92.0
2          dance pop        85.0
3                pop         NaN
4            dfw rap        94.0
5                pop        84.0
6         trap music        92.0
7                pop        90.0
8        country rap        87.0
9         electropop        95.0
10         reggaeton        93.0
11         dance pop        86.0
12               pop        88.0
13    panamanian pop        87.0
14  canadian hip hop        92.0
15         dance pop        82.0
16             latin        90.0
17           dfw rap        91.0
18               NaN        88.0
19       escape room        91.0
20         pop house        91.0
21       country rap        91.0
22    reggaeton flow        83.0
23             latin        91.0
24        electropop         NaN
                      Track.Name    Artist.Name           Genre  Popularity
0                       Senorita   Shawn Mendes    canadian pop        79.0
1                          China       Anuel AA  reggaeton flow        92.0
2  boyfriend (with Social House)  Ariana Grande       dance pop        85.0
                      Track.Name    Artist.Name           Genre  Popularity
22          No Me Conoce - Remix    Jhay Cortez  reggaeton flow        83.0
23               Soltera - Remix          Lunay           latin        91.0
24  bad guy (with Justin Bieber)  Billie Eilish      electropop         NaN

In [ ]:
#read headers
top_left=pd.read_excel('top1-25-1.xlsx')
print(top_left.columns)

Index(['Track.Name', 'Artist.Name', 'Genre', 'Popularity'], dtype='object')

In [ ]:
#print column by its header name/ from selected 0:5 e.g.

print(top_left['Track.Name'])
print(top_left['Track.Name'][0:5])
#aspasdinti kelis stulpelius pagal pavadinima

print(top_left[['Track.Name', 'Popularity']])

0                                          Senorita
1                                             China
2                     boyfriend (with Social House)
3                   Beautiful People (feat. Khalid)
4                       Goodbyes (Feat. Young Thug)
5                 I Don't Care (with Justin Bieber)
6                                            Ransom
7                                 How Do You Sleep?
8                             Old Town Road - Remix
9                                           bad guy
10                                         Callaita
11            Loco Contigo (feat. J. Balvin & Tyga)
12                                Someone You Loved
13                               Otro Trago - Remix
14         Money In The Grave (Drake ft. Rick Ross)
15                        No Guidance (feat. Drake)
16                                       LA CANCION
17    Sunflower - Spider-Man: Into the Spider-Verse
18                                           Lalala
19                                      Truth Hurts
20                              Piece Of Your Heart
21                                           Panini
22                             No Me Conoce - Remix
23                                  Soltera - Remix
24                     bad guy (with Justin Bieber)
Name: Track.Name, dtype: object
0                           Senorita
1                              China
2      boyfriend (with Social House)
3    Beautiful People (feat. Khalid)
4        Goodbyes (Feat. Young Thug)
Name: Track.Name, dtype: object
                                       Track.Name  Popularity
0                                        Senorita        79.0
1                                           China        92.0
2                   boyfriend (with Social House)        85.0
3                 Beautiful People (feat. Khalid)         NaN
4                     Goodbyes (Feat. Young Thug)        94.0
5               I Don't Care (with Justin Bieber)        84.0
6                                          Ransom        92.0
7                               How Do You Sleep?        90.0
8                           Old Town Road - Remix        87.0
9                                         bad guy        95.0
10                                       Callaita        93.0
11          Loco Contigo (feat. J. Balvin & Tyga)        86.0
12                              Someone You Loved        88.0
13                             Otro Trago - Remix        87.0
14       Money In The Grave (Drake ft. Rick Ross)        92.0
15                      No Guidance (feat. Drake)        82.0
16                                     LA CANCION        90.0
17  Sunflower - Spider-Man: Into the Spider-Verse        91.0
18                                         Lalala        88.0
19                                    Truth Hurts        91.0
20                            Piece Of Your Heart        91.0
21                                         Panini        91.0
22                           No Me Conoce - Remix        83.0
23                                Soltera - Remix        91.0
24                   bad guy (with Justin Bieber)         NaN

In [ ]:
#read  rows 1-3 according to indexes

top_left.iloc[1:3]

                      Track.Name    Artist.Name           Genre  Popularity
1                          China       Anuel AA  reggaeton flow        92.0
2  boyfriend (with Social House)  Ariana Grande       dance pop        85.0

In [ ]:
#read specific data location( row,  column)

top_left.iloc[2,1]

'Ariana Grande'

In [ ]:
# for index, row in df.iterrow funkcija iteruoti per / print(index,row['Nametotop_left.iterrows(3)

top_left.iterrows(2)

TypeError: ignored

In [ ]:
print(top_left.loc[top_left['Popularity']=='91'])

Empty DataFrame
Columns: [Track.Name, Artist.Name, Genre, Popularity]
Index: []

In [ ]:
top_left.describe()

       Popularity
count   23.000000
mean    88.782609
std      4.100516
min     79.000000
25%     86.500000
50%     90.000000
75%     91.500000
max     95.000000

In [ ]:
top_left.sort_values('Popularity',ascending=False)  #surusiuoti pagal stulpeli, ascending, descending, arba nereikia nieko rasyti

,Track.Name,Artist.Name,Genre,Popularity
9,bad guy,Billie Eilish,electropop,95.0
4,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,94.0
10,Callaita,Bad Bunny,reggaeton,93.0
6,Ransom,Lil Tecca,trap music,92.0
1,China,Anuel AA,reggaeton flow,92.0
14,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,92.0
23,Soltera - Remix,Lunay,latin,91.0
21,Panini,Lil Nas X,country rap,91.0
20,Piece Of Your Heart,MEDUZA,pop house,91.0
19,Truth Hurts,Lizzo,escape room,91.0
17,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,91.0
16,LA CANCION,J Balvin,latin,90.0
7,How Do You Sleep?,Sam Smith,pop,90.0
18,Lalala,Y2K,NaN,88.0
12,Someone You Loved,Lewis Capaldi,pop,88.0
13,Otro Trago - Remix,Sech,panamanian pop,87.0
8,Old Town Road - Remix,Lil Nas X,country rap,87.0
11,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,86.0
2,boyfriend (with Social House),Ariana Grande,dance pop,85.0
5,I Don't Care (with Justin Bieber),Ed Sheeran,pop,84.0
22,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,83.0
15,No Guidance (feat. Drake),Chris Brown,dance pop,82.0
0,Senorita,Shawn Mendes,canadian pop,79.0
3,Beautiful People (feat. Khalid),Ed Sheeran,pop,NaN
24,bad guy (with Justin Bieber),Billie Eilish,electropop,NaN

In [ ]:
top_left.sort_values(['Track.Name','Popularity']) ## paimant kelis stulpelius

,Track.Name,Artist.Name,Genre,Popularity
3,Beautiful People (feat. Khalid),Ed Sheeran,pop,NaN
10,Callaita,Bad Bunny,reggaeton,93.0
1,China,Anuel AA,reggaeton flow,92.0
4,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,94.0
7,How Do You Sleep?,Sam Smith,pop,90.0
5,I Don't Care (with Justin Bieber),Ed Sheeran,pop,84.0
16,LA CANCION,J Balvin,latin,90.0
18,Lalala,Y2K,NaN,88.0
11,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,86.0
14,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,92.0
15,No Guidance (feat. Drake),Chris Brown,dance pop,82.0
22,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,83.0
8,Old Town Road - Remix,Lil Nas X,country rap,87.0
13,Otro Trago - Remix,Sech,panamanian pop,87.0
21,Panini,Lil Nas X,country rap,91.0
20,Piece Of Your Heart,MEDUZA,pop house,91.0
6,Ransom,Lil Tecca,trap music,92.0
0,Senorita,Shawn Mendes,canadian pop,79.0
23,Soltera - Remix,Lunay,latin,91.0
12,Someone You Loved,Lewis Capaldi,pop,88.0
17,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,91.0
19,Truth Hurts,Lizzo,escape room,91.0
9,bad guy,Billie Eilish,electropop,95.0
24,bad guy (with Justin Bieber),Billie Eilish,electropop,NaN
2,boyfriend (with Social House),Ariana Grande,dance pop,85.0

In [ ]:
## prideti isvestini extra stulpeli, sumos, atlikti veiksmus

top_right=pd.read_excel('top1-25-2.xlsx')
top_right.head(3)
top_right['total']=top_right['Beats.Per.Minute']+top_right['Energy']+top_right['Length.']
print(top_right)

                                       Track.Name  Beats.Per.Minute  Energy  \
0                                        Senorita               117      55
1                                           China               105      81
2                   boyfriend (with Social House)               190      80
3                 Beautiful People (feat. Khalid)                93      65
4                     Goodbyes (Feat. Young Thug)               150      65
5               I Don't Care (with Justin Bieber)               102      68
6                                          Ransom               180      64
7                               How Do You Sleep?               111      68
8                           Old Town Road - Remix               136      62
9                                         bad guy               135      43
10                                       Callaita               176      62
11          Loco Contigo (feat. J. Balvin & Tyga)                96      71
12                              Someone You Loved               110      41
13                             Otro Trago - Remix               176      79
14       Money In The Grave (Drake ft. Rick Ross)               101      50
15                      No Guidance (feat. Drake)                93      45
16                                     LA CANCION               176      65
17  Sunflower - Spider-Man: Into the Spider-Verse                90      48
18                                         Lalala               130      39
19                                    Truth Hurts               158      62
20                            Piece Of Your Heart               124      74
21                                         Panini               154      59
22                           No Me Conoce - Remix                92      79
23                                Soltera - Remix                92      78
24                   bad guy (with Justin Bieber)               135      45

    Danceability  Loudness..dB..  Liveness  Valence.  Length.  Acousticness..  \
0             76              -6         8        75      191               4
1             79              -4         8        61      302               8
2             40              -4        16        70      186              12
3             64              -8         8        55      198              12
4             58              -4        11        18      175              45
5             80              -5         9        84      220               9
6             75              -6         7        23      131               2
7             48              -5         8        35      202              15
8             88              -6        11        64      157               5
9             70             -11        10        56      194              33
10            61              -5        24        24      251              60
11            82              -4        15        38      185              28
12            50              -6        11        45      182              75
13            73              -2         6        76      288               7
14            83              -4        12        10      205              10
15            70              -7        16        14      261              12
16            75              -6        11        43      243              15
17            76              -6         7        91      158              56
18            84              -8        14        50      161              18
19            72              -3        12        41      173              11
20            68              -7         7        63      153               4
21            70              -6        12        48      115              34
22            81              -4         9        58      309              14
23            80              -4        44        80      266              36
24            67             -11        12        68      195              25

    Speechiness.  Popularity  total
0              3        79.0    363
1              9        92.0    488
2             46        85.0    456
3             19         NaN    356
4              7        94.0    390
5              4        84.0    390
6             29        92.0    375
7              9        90.0    381
8             10        87.0    355
9             38        95.0    372
10            31        93.0    489
11             7        86.0    352
12             3        88.0    333
13            20        87.0    543
14             5        92.0    356
15            15        82.0    399
16            32        90.0    484
17             5        91.0    296
18             8        88.0    330
19            11        91.0    393
20             3        91.0    351
21             8        91.0    328
22             7        83.0    480
23             4        91.0    436
24            30         NaN    375

In [ ]:
top_right = top_right.drop(columns=['total'])
print(top_right)

KeyError: ignored

In [14]:
import pandas as pd
import numpy as np
from io import StringIO
import requests
url='https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm'

s=requests.get(url)

c=pd.read_csv(StringIO(s))

TypeError: ignored

In [32]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize
table = pd.read_html('https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm')

# Apply head function
print(table)
table.to_excel('2_uzd.data.xlsx' )

[         0                                                  1   2
0  Country  any Austria Belgium Bulgaria Croatia Cyprus Cz... NaN
1      NaN                                                NaN NaN,              Staat                     Official languages    Population  \
0          Austria                                 German   8.4 million
1          Belgium  Dutch (north), French (south), German    11 million
2         Bulgaria                              Bulgarian     7 million
3          Croatia                               Croatian   4.3 million
4           Cyprus                         Greek, Turkish       800 000
5   Czech Republic                                  Czech    10 million
6          Denmark                                 Danish   5.6 million
7          Estonia                               Estonian   1.3 million
8          Finland                       Finnish, Swedish   5.4 million
9           France                                 French    65 million
10         Germany                                 German  82.5 million
11          Greece                                  Greek    11 million
12         Hungary                              Hungarian    10 million
13         Iceland                              Icelandic       320 000
14         Ireland                         English, Irish   4.6 million
15           Italy                                Italian  60.9 million
16          Latvia                                Latvian     2 million
17    Lichtenstein                                 German        36 300
18       Lithuania                             Lithuanian     3 million
19      Luxembourg          French, German, Luxembourgish       524 000
20           Malta                       English, Maltese       450 000
21     Netherlands                                  Dutch  16.8 million
22          Norway                              Norwegian     5 million
23          Poland                                 Polish  38.5 million
24        Portugal                             Portuguese  10.5 million
25         Romania                               Romanian  19.1 million
26        Slovakia                              Slovakian   5.4 million
27        Slovenia                              Slovenian     2 million
28           Spain                                Spanish    47 million
29          Sweden                                Swedish   9.5 million
30     Switzerland       French, German, Italian, Romansh     8 million
31  United Kingdom                                English  63.2 million

       Capital                Currency  Phone     Int.
0       Vienna              euro (EUR)     43      .at
1     Brussels              euro (EUR)     32      .be
2        Sofia     Bulgarian lev (BGN)    359      .bg
3       Zagreb     Croatian kuna (HRK)    385      .hr
4      Nicosia              euro (EUR)    357      .cy
5       Prague      Czech koruna (CZK)    420      .cz
6   Copenhagen      Danish krone (DKK)     45      .dk
7      Tallinn              euro (EUR)    372      .ee
8     Helsinki              euro (EUR)    358  .fi/.ax
9        Paris              euro (EUR)     33      .fr
10      Berlin              euro (EUR)     49      .de
11      Athens              euro (EUR)     30      .gr
12    Budapest  Hungarian forint (HUF)     36      .hu
13   Reykjavik   Icelandic krona (ISK)    354      .is
14      Dublin              euro (EUR)    353      .ie
15        Rome              euro (EUR)     39      .it
16        Riga      Latvian lats (LVL)    371      .lv
17       Vaduz       Swiss franc (CHF)    423      .li
18     Vilnius  Lithuanian litas (LTL)    370      .lt
19  Luxembourg              euro (EUR)    352      .lu
20    Valletta              euro (EUR)    356      .mt
21   Amsterdam              euro (EUR)     31      .nl
22        Oslo   Norwegian krone (NOK)     47      .no
23      Warsaw      Polish ztoty (PLN)     48      .pl
24      Lisbon              euro (EUR)    351      .pt
25   Bucharest      Romanian leu (RON)     40      .ro
26  Bratislava              euro (EUR)    421      .sk
27   Ljubljana              euro (EUR)    386      .si
28      Madrid              euro (EUR)     34      .es
29   Stockholm     Swedish krona (SEK)     46      .se
30        Bern       Swiss franc (CHF)     41      .ch
31      London          Pound sterling     44      .uk  ]

AttributeError: ignored

In [35]:
table_3=pd.read_csv(r'https://raw.githubusercontent.com/robotautas/kursas/master/Pandas/top_20_CA_wildfires.csv')
print(table_3)

                  fire_name                cause      month  year  \
0         Mendocino Complex  Under Investigation       July  2018
1                    Thomas           Powerlines   December  2017
2                     Cedar        Human Related    October  2003
3                      Rush            Lightning     August  2012
4                       Rim        Human Related     August  2013
5                      Zaca        Human Related       July  2007
6                      Carr        Human Related       July  2018
7                  Matilija         Undetermined  September  1932
8                     Witch           Powerlines    October  2007
9   Klamath Theater Complex            Lightning       June  2008
10              Marble Cone            Lightning       July  1977
11                   Laguna           Powerlines  September  1970
12            Basin Complex            Lightning       June  2008
13                 Day Fire        Human Related  September  2006
14                  Station        Human Related     August  2009
15                Camp Fire           Powerlines   November  2018
16                    Rough            Lightning       July  2015
17                  Mcnally        Human Related       July  2002
18       Stanislaus Complex            Lightning     August  1987
19          Big Bar Complex            Lightning     August  1999

                                               county   acres  structures  \
0   Colusa County, Lake County, Mendocino County &...  459123         280
1                             Ventura & Santa Barbara  281893        1063
2                                           San Diego  273246        2820
3                                              Lassen  271911           0
4                                            Tuolumne  257314         112
5                                       Santa Barbara  240207           1
6                        Shasta County,Trinity County  229651        1614
7                                             Ventura  220000           0
8                                           San Diego  197990        1650
9                                            Siskiyou  192038           0
10                                           Monterey  177866           0
11                                          San Diego  175425         382
12                                           Monterey  162818          58
13                                            Ventura  162702          11
14                                        Los Angeles  160557         209
15                                              Butte  153336       18804
16                                             Fresno  151623           4
17                                             Tulare  150696          17
18                                           Tuolumne  145980          28
19                                            Trinity  140948           0

    deaths
0        1
1        2
2       15
3        0
4        0
5        0
6        8
7        0
8        2
9        2
10       0
11       5
12       0
13       0
14       2
15      85
16       0
17       0
18       1
19       0

In [38]:
table_3['cause'].nunique()

5

In [46]:
df_1=table_3['cause'].value_counts()
print(df_1)

Human Related          7
Lightning              7
Powerlines             4
Under Investigation    1
Undetermined           1
Name: cause, dtype: int64

In [48]:
maximum_frequency=table3['year'].value_counts().idxmax()

NameError: ignored

In [50]:
most_frequent=table_3['year'].value_counts().idxmax()
print(most_frequent)

2018

In [62]:
from pandas.core.dtypes.api import is_integer
print(table_3['deaths'].astype(int).sum()) # mire is viso

123

In [66]:
table_3 ['deaths'].astype(int).sum()

123

In [77]:
table_3['deaths'].is_integer().sum()

AttributeError: ignored

In [71]:
table_3['deaths'].is_integer().value_counts()

AttributeError: ignored

In [78]:
table_3.sort_values(by='year', ascending=False)

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
15,Camp Fire,Powerlines,November,2018,Butte,153336,18804,85
6,Carr,Human Related,July,2018,"Shasta County,Trinity County",229651,1614,8
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
16,Rough,Lightning,July,2015,Fresno,151623,4,0
4,Rim,Human Related,August,2013,Tuolumne,257314,112,0
3,Rush,Lightning,August,2012,Lassen,271911,0,0
14,Station,Human Related,August,2009,Los Angeles,160557,209,2
9,Klamath Theater Complex,Lightning,June,2008,Siskiyou,192038,0,2
12,Basin Complex,Lightning,June,2008,Monterey,162818,58,0
5,Zaca,Human Related,July,2007,Santa Barbara,240207,1,0
8,Witch,Powerlines,October,2007,San Diego,197990,1650,2
13,Day Fire,Human Related,September,2006,Ventura,162702,11,0
2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
17,Mcnally,Human Related,July,2002,Tulare,150696,17,0
19,Big Bar Complex,Lightning,August,1999,Trinity,140948,0,0
18,Stanislaus Complex,Lightning,August,1987,Tuolumne,145980,28,1
10,Marble Cone,Lightning,July,1977,Monterey,177866,0,0
11,Laguna,Powerlines,September,1970,San Diego,175425,382,5
7,Matilija,Undetermined,September,1932,Ventura,220000,0,0

In [86]:

pakeisti_men=table_3.replace ({'January':1, 'February':2,'March':3,'April':4,'May':5,'June':6,'July':7,'August':8,'September':9, 'October':10, 'November':11,'December':12})

print(pakeisti_men)

                  fire_name                cause  month  year  \
0         Mendocino Complex  Under Investigation      7  2018
1                    Thomas           Powerlines     12  2017
2                     Cedar        Human Related     10  2003
3                      Rush            Lightning      8  2012
4                       Rim        Human Related      8  2013
5                      Zaca        Human Related      7  2007
6                      Carr        Human Related      7  2018
7                  Matilija         Undetermined      9  1932
8                     Witch           Powerlines     10  2007
9   Klamath Theater Complex            Lightning      6  2008
10              Marble Cone            Lightning      7  1977
11                   Laguna           Powerlines      9  1970
12            Basin Complex            Lightning      6  2008
13                 Day Fire        Human Related      9  2006
14                  Station        Human Related      8  2009
15                Camp Fire           Powerlines     11  2018
16                    Rough            Lightning      7  2015
17                  Mcnally        Human Related      7  2002
18       Stanislaus Complex            Lightning      8  1987
19          Big Bar Complex            Lightning      8  1999

                                               county   acres  structures  \
0   Colusa County, Lake County, Mendocino County &...  459123         280
1                             Ventura & Santa Barbara  281893        1063
2                                           San Diego  273246        2820
3                                              Lassen  271911           0
4                                            Tuolumne  257314         112
5                                       Santa Barbara  240207           1
6                        Shasta County,Trinity County  229651        1614
7                                             Ventura  220000           0
8                                           San Diego  197990        1650
9                                            Siskiyou  192038           0
10                                           Monterey  177866           0
11                                          San Diego  175425         382
12                                           Monterey  162818          58
13                                            Ventura  162702          11
14                                        Los Angeles  160557         209
15                                              Butte  153336       18804
16                                             Fresno  151623           4
17                                             Tulare  150696          17
18                                           Tuolumne  145980          28
19                                            Trinity  140948           0

    deaths
0        1
1        2
2       15
3        0
4        0
5        0
6        8
7        0
8        2
9        2
10       0
11       5
12       0
13       0
14       2
15      85
16       0
17       0
18       1
19       0

In [101]:

import pandas as pd
import requests
import io

url=('https://lt.wikipedia.org/wiki/S%C4%85ra%C5%A1as:Lietuvos_miestai_pagal_gyventojus')
s=requests. get(url). content.
c=pd. read_csv(io. StringIO(s. decode('utf-8')))

SyntaxError: ignored

In [107]:
wiki=pd.read_html('https://lt.wikipedia.org/wiki/S%C4%85ra%C5%A1as:Lietuvos_miestai_pagal_gyventojus')

In [111]:

len(wiki)

5

In [115]:
df=wiki[0]
print(df)

     Eilė    Miestas  2021 m.  2011 m.  2001 m.  1989 m.  1979 m.   1970 m.  \
0       1    Vilnius   546155   524406   542287   576747   475825  372100.0
1       2     Kaunas   298753   315993   378943   418087   368649  305116.0
2       3   Klaipėda   152008   162360   192954   202929   176648  140012.0
3       4   Šiauliai   100653   109328   133883   145629   118724   93057.0
4       5  Panevėžys    89100    99690   119749   126483   102303   73328.0
..    ...        ...      ...      ...      ...      ...      ...       ...
98     99   Užventis      600      833      898     1149     1229    1406.0
99    100    Dusetos      531      717      914     1185     1393    1578.0
100   101  Kavarskas      503      666      809      972     1113    1256.0
101   102  Troškūnai      389      451      525      672     1174    1434.0
102   103   Panemunė      217      274      329      398      506     492.0

      1959 m. 1923 m.  1897 m. Tankumas (2019)
0    236078.0  167400  154532*    1374 žm./km²
1    219287.0   92446   70920*    1843 žm./km²
2     90521.0   35845    20100    1356 žm./km²
3     59722.0   21387   16128*    1251 žm./km²
4     41096.0   19197   12968*    1590 žm./km²
..        ...     ...      ...             ...
98     1704.0     (?)      945     260 žm./km²
99     1806.0    1164     1278     316 žm./km²
100    1287.0    1041     1546     443 žm./km²
101    1495.0    1252     1000     458 žm./km²
102     539.0     637      NaN     112 žm./km²

[103 rows x 12 columns]

In [119]:
df_i = wiki.set_index('Miestas')
print(df_i)

AttributeError: ignored